/* This is a stylesheet */

body {
  font-family: Arial, Helvetica, sans-serif, serif;
  background-color: #f5f5f5;
}

img {
  border: 10px solid black;
}

h1 {
  border: 1px solid black;
}

blockquote {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  text-align: center;
}

cite {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: center;
}

.bigbold {
  font-size: 1.2rem;
  font-weight: bold;
}

ul a:link {
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: normal;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: aqua;
}

a.harvard:link {
  font-size: 3rem;
  font-style: italic;
}
